/* @font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
  } */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Space+Grotesk:wght@300..700&display=swap');
  *{
    font-family: Inter, sans-serif;
  }

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #004aad; 
    overflow: hidden;
    position: fixed;
    width: 100%;
}

b{
    font-size: 15px;
    line-height: 26px;
}

p{
    margin: 0px;
    font-size: 14px;
    font-weight: 100;
    line-height: 16px;
}



.main {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    max-width: 768px;
    filter: blur(5px);
    /* background-image: url(../images/snow-gif.gif); */
    background: radial-gradient(#0285EC, #013F91);
}

.flex-logo {
    padding: 20px;
    margin: 22% 0px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

/* .plane img {
    width: 97%;
    margin: 0 0 0 12px;
} */

.plane{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cta {
    padding: 20px;
    margin: 0px 0px 45px 0px;
    position: relative;
}

.side-image {
    position: absolute;
    width: 50px; /* Adjust size */
}

.top-left {
    top: -1.5%;
    left: -23px;
    width: 99px !important;
    z-index: 2;
    
}


.bottom-left {
    bottom: 12vh;
    left: -6%;
    width: 28vw;
    z-index: 1;
   
}


.bottom-left1 {
    bottom: 38vh;
    left: -9px;
    position: absolute;
    width: 24% !important;
    z-index: 2;
}


.top-right {
    top: -3.5%;
    right: 8px;
    width: 36% !important;
    z-index: 2;
   
}


.bottom-right {
    bottom: 50px;
    right: 0px;
    z-index: 2;
   
}


.bottom-right1{
    position: absolute;
    bottom: -5.5%;
    right: 50px;
    width: 36%;
    z-index: 2;
   
}



.voucher {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Dark background */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding: 6vh 0px 0px 0px;
    z-index: 1000;
    /* display: none; Hidden by default */
}

.voucherImg{
    width: 75vw;
}


.cta-button {
    display: inline-block;
    margin-top: 6%;
    padding: 10px 30px;
    font-size: 16px;
    font-weight: 700;
    color: rgb(213,183,98); /* Gold text */
    text-align: center;
    text-transform: uppercase;
    border: 2px solid rgb(213,183,98); /* Gold border */
    border-radius: 30px; /* Rounded edges */
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
  }


.popup-content {
    color: white;
    font-size: 20px;
    text-align: center;
    font-family: Inter, sans-serif;
    padding: 10px;
}



.m-coin{
    width: 8vw; margin-top: 7%; 
    filter: blur(2px); -webkit-filter: blur(2px); 
    z-index: 2;
}
/* .play-cta{width: 45vw; } */
.start-cta.d-flex.justify-content-center {
    z-index: 9999;
}




@media screen and (min-device-width: 430px) and (max-device-width: 932px) and (orientation: portrait){
    .top-right{
        top: -2.3%;
        right: 20px;
        width: 36% !important;
    }

    .top-left{
        top: 52px !important;
        left: -9px !important;
    }
    .main-box{
        gap: 20px;
    }
}

@media (max-device-width : 393px)   {
    p {
    font-size: 12px;
    }

    b{
        font-size: 14px;
    }

    /* .main1{
        overflow-y: auto !important;
    } */

    .start-cta img {
    
        width: 42vw; 
    }
    .start-cta a{
        z-index: 999;
    }

    .cta{
        z-index: 999; 
    }

    .main-box{
        margin: 25% 6.9% 1% 6.9%;
        gap: 20px;
    }

}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)   {
    .bottom-right1{
        width: 31% !important;
    }
    .top-left{
        top: 92px !important;

    }
    .bottom-right{
        bottom: 15vh;
    }

    .bottom-left1{
        width: 10vw !important;
        bottom: 40vh;
        z-index: 1;
    }

}
@media only screen and (max-device-width : 740px) and (min-device-width : 375px) 
    and (orientation : landscape){
    .m-coin{
        width: 5vw;
        margin-top: 3% !important;
    }

    .cit-logo {
        width: 8vw !important;
        padding: 10px 8px;
    }
    .top-right{width: 18% !important;}
    .bottom-left1{
        bottom: 45vh;
        width: 10% !important;
    }
    .bottom-right{
        bottom: 83px !important;
    }
    .flex-logo{
        margin: 11.5vh 0px 0px 0px;
    }
    .bottom-right1{
        bottom: -16.5%;
        right: 50px;
        width: 22%;
    }
    .jet {
    width:14vw;
    }
    .white-logo {
    width: 8vw;
    }
    .bottom-left{
        bottom: 12vh;
        left: -4%;
        width: 16vw;
    }
    .cta{padding: 5px 0px !important;}
    .play-cta{
        width: 20vw !important;
    }

    .plane::after{
        right: 150px !important;
        width: 4% !important;
    }

}




 /* Initially hide animations */
 .top-left, .bottom-left, .bottom-left1, .top-right, .bottom-right, .bottom-right1 {
    opacity: 1;
    filter: blur(3px);
    transition: opacity 1.5s ease-in; /* Add smooth fade in transition */
}




